<head>
    <title>Test page</title>
</head>
<body>
    <h5>First IF</h5>
        <span>one</span>
        <span>two</span>
        <span>three</span>
    <hr />
    <h5>Second IF</h5>
        <span>one</span>
        <span>two</span>
        <span>three</span>
    <hr />
    <h5>Third IF</h5>
        <span>0 : one</span>
        <span>1 : two</span>
        <span>2 : three</span>
    <hr />
    <h5>Simple IF</h5>
    <hr />
    <h5>If-else</h5>
        <p>Not equal</p>
    <hr />
    <h5>Complex if</h5>
        <p>Bigger</p>
</body>
